# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Vercel
.vercel

#-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-#
#                                           #
#    This is a sample file, feel free to    #
#    modify it to meet your needs.          #
#                                           #
# -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*#

# Mac
.DS_Store

# ENV
.env
.env*.local

# Node
node_modules/
npm-debug.log
yarn-error.log

# IDE
.idea/
.vscode/ 